.footer {
  --marginBetweenBlocks: 50px;

  display: flex;
  flex-direction: column;
  row-gap: var(--marginBetweenBlocks);
  padding-inline: 60px;
  padding-block: 55px 50px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;

  @include tablet {
    padding-inline: 20px;
  }

  @include mobile {
    --marginBetweenBlocks: 37px;

    padding-block: 50px 30px;
    border-radius: 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 66px;

    @include mobile {
      row-gap: var(--marginBetweenBlocks);
      align-items: center;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      display: contents;
    }
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
      column-gap: 40px;

      @include tablet {
        column-gap: 20px;
      }

      @include mobile {
        flex-direction: column;
        row-gap: 15px;
        align-items: center;
      }
    }

    &-item {
      border-bottom: var(--border);
      border-color: var(--color-light);

      @include mobile {
        border: none;
      }
    }

    &-link {
      color: var(--color-light);

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__media {
    @include mobile {
      order: 1;
    }
  }

  &__body {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;

    @include mobile {
      display: contents;
    }
  }

  &__footer {
    padding-top: var(--marginBetweenBlocks);
    border-top: var(--border);
    border-color: var(--color-light);
    color: var(--color-light);
    display: flex;
    column-gap: 40px;

    @include mobile {
      flex-direction: column;
      align-items: center;
      row-gap: 15px;
    }

    a {
      color: inherit;
      text-decoration: underline;
      text-underline-offset: 5px;
    }
  }
}
